body {
}
.headerDay{
    font-size: 19px;
    font-weight: bold;
}
.headerNonActiveDay{
    color: #008FB9;
}
#changeAll{  
    margin: 0px;
    height: 2vw;
    border: 4px solid gray;
    width: 100%;
    margin:3%;
    font-weight: bold;
    font-size: 17px;
}
#dayInWeek{
margin:0px;
}
#tdDays{
    /*width:70%;*/
    padding-left:1vw;
    width: 50px;
  
}
#vacationComponent{
  height: 100%;
   margin: 3%;
   width: 100%;

}
   .activeDay{
        background-color:white;
    }
    .nonActiveDay{
    background-color:#66666675;
      
            
    }
    #btnStatus{
    margin: 2%;
    height: 1.5vw;
    width: 100%;
   border-color: #80808094;
    }
    #tblAllDays{    
    margin-right: 20vw;
    top: 4vw;    
    width: 70%;
   
    }
    .span-day-in-week{
          color: #008FB9;
          font-size:15px;       
    }
    #saveChangesInDB {       
    position: relative;
    background-color: #F6AE1D;
    color: #008FB9;
    height: 3vh;
    width: 5vw;
    font-weight: bold;
    }