<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../../../CSS/NonActiveDay.css" rel="stylesheet" />
</head>
<body dir="rtl">
    <h1>מערכת קבוצות</h1>
    <DateRangeSelector></DateRangeSelector>
    <button id="saveChangesInDB" (click)="saveChangesInDB()">שמור</button>
    <table id="tblAllDays">
        <tr>
            <td *ngFor="let item of dayInWeek; let m=index" id="tdDays">
                <span class="span-day-in-week">{{getday(m)}}-{{item}}</span><br />
                <div id="dayInWeek">
                    <DayInSchedule [dayInWeek]="dayInWeek" [currentDay]=item [currentDate]="day"></DayInSchedule>
                </div>
            </td>
        </tr>
    </table>
    <div>{{DateTimeCurrently}}</div>
</body>
</html>
<style>
    #saveChangesInDB {
        width: 4vw;
        height: 2vw;
        position: relative;
    }
</style>