<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../../../CSS/NonActiveDay.css" rel="stylesheet" />
</head>
<body dir="rtl">
         
                <input id="changeAll" type="button" class="activeDay" (click)="ChangeAll()" value="כל השיעורים"
                       [ngClass]="isVacation?'activeDay':'nonActiveDay'" />
           
        <div *ngFor="let indexs of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]; let dayIndex=index">
          <div id=vacationComponent><vacation [status]='allStatus[dayIndex]' [currentHour]=indexs [date]="currentDate"></vacation></div>           
        </div>
 

</body>
</html>