<div class="container course-details">
    <div class="row editData">
        <div class="col-sm-3">
            <input type="text" value="{{group.Name}}" [(ngModel)]="group.Name" />
            <label>שם קבוצה</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button (click)="saveToServer(group)">
                <b>שמור</b>
                <img src="../../../Content/Images/image_40.png" />
            </button>
        </div>
        <div class="col-sm-2">
            <button (click)="cancelChanges()">
                <b>ביטול</b>
                <b class="glyphicon glyphicon-trash"></b>
            </button>
        </div>
    </div>
</div>