<div>
    <div class="rec"></div>
    <h1 class="col-md-offset-1">ניהול</h1>
    <div class="rec"></div>
</div>
<div id="manegmentButtons" *ngIf="!buttonClicked" class="col-md-offset-2">

<input class="btn_Manegment" id="Button1" type="button" value="קורסים" (click)="HideDiv()"
       routerLink="/manage/manegmentCourse" ng-/><br/>

<input class="btn_Manegment" id="Button2" type="button" value="קבוצות" (click)="HideDiv()"
       routerLink="/manage/manegmentGroup" /><br/>

<input class="btn_Manegment" id="Button3" type="button" value="ימים לא פעילים" (click)="HideDiv()"
    routerLink="/manage/NonActiveDays" ng-/><br />
</div>
<router-outlet></router-outlet>