<div>
    <input class="btn_Manegment" id="Button3" type="button" value="ימים לא פעילים"
           [ngClass]="!btnDays ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnDays')" />
    <input class="btn_Manegment" id="Button2" type="button" value="קבוצות"
           routerLink="/manage/manegmentGroup"
           [ngClass]="!btnGroup ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnGroup')" />
    <input class="btn_Manegment" id="Button1" type="button" value="קורסים"
           routerLink="/manage/manegmentCourse"
           [ngClass]="!btnCourse ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnCourse')" />
    <input class="btn_Manegment btn_Add" id="btn_AddGroup" type="button" value="הוספת קבוצה" />
</div>
<div *ngIf="groupsList">
    <h1>Result</h1>
    <div *ngFor="let item of groupsList">
        <ul class="list-group">
            <li [class.active]="item==currentGroup">
                <div class="col-sm-2">{{item.Name}}</div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" (click)="EditGroup(item)">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" (click)="removeGroup(item)">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" (click)="saveToServer(item)">
                        <span class="glyphicon glyphicon-cloud"></span> Save To Server
                    </button>
                </div>
            </li>
        </ul>
    </div>
<group-details [group]="currentGroup" *ngIf="currentGroup"></group-details>
</div>