<div>
    <input class="btn_Manegment" id="Button3" type="button" value="ימים לא פעילים"
           [ngClass]="!btnDays ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnDays')" />
    <input class="btn_Manegment" id="Button2" type="button" value="קבוצות"
           routerLink="/manage/manegmentGroup"
           [ngClass]="!btnGroup ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnGroup')" />
    <input class="btn_Manegment" id="Button1" type="button" value="קורסים"
           routerLink="/manage/manegmentCourse"
           [ngClass]="!btnCourse ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnCourse')" />
    <input class="btn_Manegment btn_Add" id="btn_AddCourse" type="button" value="הוספת קורס" />
</div>
<div id="divCourse" *ngIf="courseList">
    <h4>שם מורה</h4>
    <h4>שם קורס</h4>
    <div *ngFor="let item of courseList">
        <ul class="list-group">
            <li [class.active]="item==currentCourse">
                <div class="col-sm-2">
                    <button (click)="removeCourse(item)">
                        <span class="glyphicon glyphicon-trash"></span> <!--Remove-->
                    </button>
                </div>
                <div class="col-sm-2">
                    <button (click)="saveToServer(item)">
                        <span class="glyphicon glyphicon-cloud"></span> <!--Save To Server-->
                    </button>
                </div>
                <div class="col-sm-2">
                    <button (click)="EditCourse(item)">
                        <span class="glyphicon glyphicon-pencil"></span> <!--Edit-->
                    </button>
                </div>
                <div class="col-sm-3">{{item.Instructor}}</div>
                <div class="col-sm-3">{{item.Name}}</div>
            </li>
        </ul>
    </div>
    <course-details [course]="currentCourse" *ngIf="currentCourse"></course-details>
</div>
<style>
    #divCourse button {
        height: 2vw;
        width: 2vw;
        margin:0vw;
    }
    #divCourse li {
        display: inline-block;
        width: 36.5vw;
        height: 2.2vw;
    }
    #divCourse ul {
        margin-top: 1vw;
    }
    #divCourse h4 {
        display: inline-block;
        float:right;
    }
    #divCourse li div{
        border:solid 0.1vw;
        height:2.2vw;
    }
</style>