<div>
    <input class="btn_Manegment" id="Button3" type="button" value="ימים לא פעילים"
           routerLink="NonActiveDays"
           [ngClass]="!btnDays ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnDays')" />
    <input class="btn_Manegment" id="Button2" type="button" value="קבוצות"
           routerLink="manegmentGroup"
           [ngClass]="!btnGroup ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnGroup')" />
    <input class="btn_Manegment" id="Button1" type="button" value="קורסים"
           routerLink="manegmentCourse"
           [ngClass]="!btnCourse ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnCourse')" />
    <input class="btn_Manegment btn_Add" id="btn_AddGroup" type="button" value="הוספת קבוצה"
           (click)="newGroup()" />
</div>
<div id="divGroup" *ngIf="groupsList">
    <div class="headerTable">
        <b>שם קבוצה</b>
    </div>
    <div *ngFor="let item of groupsList">
        <ul class="list-group">
            <li [class.active]="item==currentGroup">
                <div class="col-sm-2">
                    <button (click)="removeGroup(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div class="col-sm-2">
                    <button (click)="EditGroup(item)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
                <div class="col-sm-2">{{item.Name || (item.group && item.group.Name)}}</div>
            </li>
        </ul>
    </div>
    <!--<group-details [group]="currentGroup" *ngIf="currentGroup"></group-details>-->
</div>

<style>
    #divGroup button {
        height: 2vw;
        width: 2vw;
        margin: 0vw;
        background-color: white;
    }

    #divGroup li {
        display: inline-block;
        width: 27.5vw;
        margin-left: 6vw;
        height: 2.2vw;
    }

    #divGroup ul {
        margin-top: 1vw;
    }

    .headerTable {
        margin-top: 3vw;
    }

    #divGroup li div {
        border: solid 0.1vw;
        height: 2.2vw;
    }

    #divGroup b {
        display: inline-block;
        position: relative;
        left: 19vw;
        color: #266587;
        font-size: 1.3vw;
    }

        #divGroup b:first-child {
            left: 16.5vw;
        }

    #divGroup img {
        width: 1.5vw;
        height: 1.5vw;
    }

    #divGroup span {
        color: black;
        margin-top: 0.3vw;
        margin-left: 0.4vw;
    }

    #divGroup div:last-child {
        width: 14vw;
    }
</style>