<div>
    <input class="btn_Manegment" id="Button3" type="button" value="ימים לא פעילים"
           [ngClass]="!btnDays ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnDays')" />
    <input class="btn_Manegment" id="Button2" type="button" value="קבוצות"
           routerLink="/manage/manegmentGroup"
           [ngClass]="!btnGroup ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnGroup')" />
    <input class="btn_Manegment" id="Button1" type="button" value="קורסים"
           routerLink="/manage/manegmentCourse"
           [ngClass]="!btnCourse ? 'btn_Manegment' : 'btn_default3'"
           (click)="clickEvent('btnCourse')" />
    <input class="btn_Manegment btn_Add" id="btn_AddCourse" type="button" value="הוספת קורס"
           (click)="newCourse()" />
</div>
<div id="divCourse" *ngIf="courseList">
    <div class="headerTable">
        <b>שם מורה</b>
        <b>שם קורס</b>
    </div>
    <div *ngFor="let item of courseList">
        <ul class="list-group">
            <li [class.active]="item==currentCourse">
                <div class="col-sm-2">
                    <button (click)="removeCourse(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div class="col-sm-2">
                    <button (click)="EditCourse(item)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
                <div class="col-sm-3">{{item.Instructor}}</div>
                <div class="col-sm-3">{{item.Name}}</div>
            </li>
        </ul>
    </div>
</div>
<style>
    #divCourse button {
        height: 2vw;
        width: 2vw;
        margin: 0vw;
        background-color: white;
    }

    #divCourse li {
        display: inline-block;
        width: 27.5vw;
        margin-left: 6vw;
        height: 2.2vw;
    }

    #divCourse ul {
        margin-top: 1vw;
    }

    .headerTable {
        margin-top: 3vw;
    }

    #divCourse b {
        display: inline-block;
        position: relative;
        left: 19vw;
        color: #266587;
        font-size: 1.3vw;
    }

        #divCourse b:first-child {
            left: 16.5vw;
        }

    #divCourse li div {
        border: solid 0.1vw;
        height: 2.2vw;
    }

    #divCourse img {
        width: 1.5vw;
        height: 1.5vw;
    }

    #divCourse span {
        color: black;
        margin-top: 0.3vw;
        margin-left: 0.4vw;
    }
</style>

<!--fa fa-close	&#xf00d;-->