<input id="Button1" type="button" value="שמירה" (click)="Save()" />
<div *ngIf="btnSave">
    <h1>שמור שינוי זה עבור</h1>
     <input id="Radio1" type="radio" />שבוע זה בלבד<br/> 
     <input id="Radio2" type="radio" />שבוע זה עד לתאריך<br />
     <textarea id="TextArea1" rows="2" cols="20" title="הערות"></textarea>
    <input id="Button1" type="button" value="שמור" (click)="SaveChanges()"/>
</div>
<div *ngIf="btnSaveChange">
    <h1>שינוי זה דורס את השינויים הקודמים שלך האם להמשיך </h1>
    <input id="Button1" type="button" value="ביטול" />
    <input id="Button1" type="button" value="שמור" />
</div>