
<link href="../../../Content/bootstrap/css/ReportDetailsDesign.css" rel="stylesheet" />
﻿<div>
    <div class="rec"></div>
    <h1 class="col-md-offset-1">דוחות</h1>
    <div class="rec"></div>
</div>

<print_html [TextToPrint]="printSection"></print_html>

<br />

<div id="middle"> 
    <div class="labels">
        <label class="lbl">תאריך סיום</label><!--&nbsp;&nbsp;-->
        <label class="lbl">תאריך התחלה</label>
        <label class="lbl">שם התמחות</label>
    </div>
    <input type="date" class="middle" id="date" [(ngModel)]="dateStart" [value]="date1 | date:'yyyy-MM-dd'" (input)="date1=parseDate($event.target.value)" />
    <input type="date" class="middle" id="date" [value]="date2 | date:'yyyy-MM-dd'" (input)="date2=parseDate($event.target.value)" />
    <select class="middle" [(ngModel)]="selectedCourse" (change)="GetReportCourseByComboBox($event)">
        <option class="middle" *ngFor="let item of GroupList">{{item.Name}}</option>
    </select>
</div>

<br />

<button class="btn ToShow" id="show" (click)="GetReport1(date2,date1,selectedCourse)"> 
    הצג
    <span class="glyphicon glyphicon-search"></span>
</button>





<div #printSection>
    <table id="print">
       
            <tr class="headerTableReport">
                <td><b>מס' שעות בפועל</b></td>
        <td><b>התמחות</b></td>
        </tr>
        <tr *ngFor="let item of ReportDeatilsList1">
            <td>{{item.NumHours}}</td>
            <td>{{item.Group}}</td>
        </tr>
    </table>
</div>



