

    
<h1>דוחות</h1>
<button class="btn btn-default ToShow" (click)="Print_Html()">
    הדפס
    <span class="glyphicon glyphicon-print"></span>
</button>

<button class="btn btn-default ToShow" (click)="GetReport()">הצג
    <span class="glyphicon glyphicon-search"></span></button>
<div id="printSection">
    <table>
        <tr class="headerTableReport">
            <td>מס' שעות בפועל</td>
            <td>התמחות</td>
        </tr>
        <tr *ngFor="let item of ListExistingCourseFromServer">
            <td>{{item.Date}}</td>
            <td>{{item.Group.Name}}</td>
            <td>{{item.Course.Instructor}}</td>
            <td>{{item.Course.Name}}</td>
        </tr>
    </table>
</div>
<style>
    table{
        border:solid;
    }
    td{
    padding: 3px;
    border-style: solid;
    border-width: thin;
    width: 14vw;
    text-align: center;
    }
    .headerTableReport{
        font-weight:bold;
    }
    .ToShow{
        text-align:center;      
       margin:1vw;
    }
</style>

