
<div dir="rtl" class="Border container">
    <div>
        <div *ngIf="!btnSaveChange && !btnEndSave">
            <h2>שמור שינוי זה עבור:</h2>
            <div class="form-group">
                <div class="radio">
                    <input type="radio" name="week" ng-model="week.day" (click)="ThisWeekOnly()">
                    <label class="labelPadding" > שבוע זה בלבד</label>
                </div>
                <div class="radio">
                    <input type="radio" name="week" ng-model="week.day" (click)="SetChecked()">
                    <label class="labelPadding" >שבוע זה עד לתאריך</label>
                    <input type="date" [value]="date | date:'yyyy-MM-dd'" (input)="date=parseDate($event.target.value)" [disabled]="!isChecked"/>
                    <div class="alert alert-danger" *ngIf="btnSaveChange">
                       date is required!!!
                    </div>  
                </div>
            </div>
            <textarea id="TextArea1" rows="7" cols="40" class="Border" placeholder="הערות..." [(ngModel)]="comments" ></textarea><br />
            <button id="btnSave" class="btn btn-default Border " (click)="SaveChanges()">
                <span><img src="../../../image_40.png" />שמור</span>
            </button>
        </div>
        <div *ngIf="btnSaveChange " class="savePopUp ">
            <h3>שינוי זה דורס את השינויים הקודמים שלך האם להמשיך? </h3>
            <button id="ButtonSave" class="btn btn-default Border">
                <span><img src="../../../Content/Images/image_40.png"  dir="rtl" (click)="EndSave()"/>שמור</span>
            </button>
            <button id="ButtonCancel" class="btn btn-default Border" (click)="CancelProcess()">
                <span class="glyphicon glyphicon-trash">ביטול</span>
            </button>
        </div>
    </div>
</div>
