<body dir="rtl">
    <div dir="ltr">
        <div class="rec"></div>
        <h1 class="col-md-offset-1">מערכת קבוצות</h1>
        <div class="rec"></div>
    </div>
    <div style="margin-right: 20vw;margin-top:3vh">
        <span id="spnGroupName">שם התמחות</span>
        <!-- <select #selectGroup  (change)="SelectGroup(selectGroup.value)"> <!--[(ngModel)]="selectedGroup"-->
            <!--<option *ngFor="let group of GroupList" [value]="group.Id">{{group.Name}}</option>-->
        <!--</select>--> 

        <select id="selectGroup" [(ngModel)]="SelectedGroup" (change)="SelectGroup()">
            <option *ngFor="let g of GroupList; let i =index" [ngValue]="g">{{g.Name}}</option>
        </select>
        <DateRangeSelector (eventHandler)="updateWeeklyData()"></DateRangeSelector>
        <br />
    </div>
    <div id="div-buttons">
        <button (click)="ClickEvent('btnEdit')" [ngClass]="!isbtn1clicked ? 'btn_schedulboard':'btn_schedulboardOnClick'">
            <!--<span class="glyphicon glyphicon-edit"></span>-->
            עריכה כללית
        </button>
        <button (click)="ClickEvent('btnSave')" [ngClass]="!isbtn2clicked ? 'btn_schedulboard':'btn_schedulboardOnClick'">
            <span class="glyphicon glyphicon-save"></span>
            שמירה
        </button>
        <print_html (click)="ClickEvent('btnPrint')" [TextToPrint]="name"></print_html>
        <!--<button class="ToShow"  (click)="ClickEvent('btnPrint')" [ngClass]="!isbtn3clicked ? 'btn_schedulboard':'btn_schedulboardOnClick'">הדפסה</button>-->
        <!--(click)="ClickEvent('btnPrint')"-->
    </div>
    <table id="table_schedule" #name>
        <tr id="tr-Day">
            <td *ngFor="let item of dayInWeek; let m=index"><span class="dayOfMonth">{{getday(m)}}-</span>{{item}}&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr dir="ltr" *ngFor="let lessonNum of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
            <td *ngFor="let day of dayInWeek; let i=index">
                <!--*ngIf="table[k][indexs]"-->
                <!--<span *ngIf="table[k][indexs] !==null">{{table[k][indexs].Course.Name}}</span>-->
                <div *ngIf="CourseList && tableUpdated">
                    <!--
                    [IsAction]="CheckActionDay(lessonNum)"-->
                    <SingleCourseinBoard_Component [CurrentDayInWeek]="i" [CurrentExistingCourses]="table[i][lessonNum]" [CurrentComponentOrder]="lessonNum" [CurrentDateOfSun]="DateTimeCurrently" [CurrentGroup]="SelectedGroup" [CourseList]="CourseList" [IsAction]="CheckActionDay(lessonNum)"></SingleCourseinBoard_Component>
                </div>
            </td>
        </tr>
    </table>
</body>
