<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body dir="rtl">
    <h1>מערכת קבוצות</h1>
    <select>        
        <option [(ngModel)]="selectedGroup"  *ngFor="let g of Groups; let i =index" (change)="ChangeTable(selectedGroup)">{{g.Name}}</option>
    </select>
    <select [(ngModel)]="selectedGroups" (change)="onChangeGroup(selectedGroups)">
        <option *ngFor="let item of GroupList" value="{{item.Id}}">{{item.Instructor}} {{item.Name}}</option>
    </select>
    <!--<select>
        <option *ngFor="let c of Courses; let i =index">{{c.Name}}</option>
    </select>
    <select>
        <option *ngFor="let e of ExistingCourses; let i =index">{{e.Course.Name}}</option>
    </select>-->
    <DateRangeSelector></DateRangeSelector><br />
    <button value="">עריכה כללית</button>
    <button value="">שמירה</button>
    <button value="">מחיקה</button>
    <button value="">הדפסה</button>
    <table>
        <tr>
            <!--למה הוספת היום בחודש עושה בעיות-->
            <td *ngFor="let item of dayInWeek; let m=index"><span>{{getday(m)}}-</span>{{item}}&nbsp;&nbsp;&nbsp;</td>
        </tr>

        <tr dir="ltr" *ngFor="let indexs of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
            <td *ngFor="let x of dayInWeek; let k=index">
                <Course_Component [CurrentComponentId]="k+1" [CurrentDateOfSun]="DateTimeCurrently" [CurrentGroup]="CurrentGroup"></Course_Component>
            </td>
        </tr>     
    </table>
</body>
</html>
 <style>
     Course_Component {
     margin:0.5vw;
     }
 </style>


