<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../../../Content/bootstrap/css/ScheduleBoard.css" rel="stylesheet" />
</head>
<body dir="rtl">
    <div>
        <div class="rec"></div>
        <h1 class="col-md-offset-1">מערכת קבוצות</h1>
        <div class="rec"></div>
    </div>
    <div style="margin-right: 20vw;margin-top:3vh">
        <span id="spnGroupName">שם קבוצה</span>
        <!--<select id="selectGroup" [(ngModel)]="selectedGroup" [SelectedGroup]="selectedGroup" (change)="SelectGroup(selectedGroup)"/>-->
            <select id="selectGroup" [(ngModel)] ="SelectedGroup" (change)="SelectGroup()"> <!--(ngModelChange)="SelectGroup($event.target)" -->
                <!--[SelectedGroup]="selectedGroup"-->
                <option *ngFor="let g of GroupList; let i =index" [ngValue]="g">{{g.Name}}</option>
            </select>
            <DateRangeSelector (eventHandler)="updateWeeklyData()"></DateRangeSelector>
            <br />
        <!--(eventHandler)="updateWeeklyData($event)"-->
</div>
    <div id="div-buttons" >
        <button (click)="ClickEvent('btnEdit')"  [ngClass]="!isbtn1clicked ? 'btn_schedulboard':'btn_schedulboardOnClick'">עריכה כללית</button>
        <button (click)="ClickEvent('btnSave')"  [ngClass]="!isbtn2clicked ? 'btn_schedulboard':'btn_schedulboardOnClick'">שמירה</button>
        <button (click)="ClickEvent('btnPrint')" [ngClass]="!isbtn3clicked ? 'btn_schedulboard':'btn_schedulboardOnClick'">הדפסה</button>
    </div>
    <table id="table_schedule">
        <tr id="tr-Day">
            <td *ngFor="let item of dayInWeek; let m=index"><span class="dayOfMonth">{{getday(m)}}-</span>{{item}}&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr  dir="ltr" *ngFor="let indexs of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
            <td *ngFor="let x of dayInWeek; let k=index" >
                <!--*ngIf="table[k][indexs]"-->
                <!--<span *ngIf="table[k][indexs] !==null">{{table[k][indexs].Course.Name}}</span>-->
                <SingleCourseinBoard_Component [CurrentDayInWeek]="k" [CurrentCourse]="table[k][indexs].Course"  [CurrentComponentOrder]="indexs" [CurrentDateOfSun]="DateTimeCurrently" [CurrentGroup]="SelectedGroup"></SingleCourseinBoard_Component>

            </td>
        </tr>     
    </table>
</body>
</html>
 <style>
     SingleCourseinBoard_Component {
     margin:0.5vw;
     }
 </style>
            <!-- לבדוק למה לא עובד בקורס קיים - עם תאריך!!!!
            <! day-להוסיף--> 
            <!-- <td *ngFor="let x of dayInWeek; let k=index">{{getExistingCourseName(indexs)}}</td> -->

            <!--<td *ngFor="let x of dayInWeek; let k=index">{{getCourseNameById(k)}}</td>-->
        <!-- </tr>
    </table>
</body>
</html> --> 


<!--<script>
    var isclicked = false;
    $(".btn_schedulboard").click(function () {
        if (IsCustomBG == false) {
            $(this).css("background-color", "red");
            IsCustomBG = true;
        }
        else {
            $(this).css("background-color", "");
            IsCustomBG = false;
        }
    });
</script>-->