<h1>WELLCOME :{{title}}</h1>

<ul class="list-group">
    <li class="list-group-item  row" [class.active]="item==currentVolunteer" *ngFor="let item of volunteerList">
        <div class="col-sm-1">{{item.id}}</div>
        <div class="col-sm-4">{{item.name}}</div>
        <div class="col-sm-4">{{item.street}}</div>
        <div><input type="checkbox" [checked]="item==true" *ngFor="let item of item.days"  disabled="disabled"  ></div>
        <!--<div class="col-sm-4">{{item.dayInWeek}}</div>-->
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
            <button class="btn btn-primary" (click)="EditVolunteer(item)">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
          
        </div>
        <div class="col-sm-2"> <button class="btn btn-default" (click)="removeVolunteer(item)">
            <span class="glyphicon glyphicon-remove"></span> Remove</button> </div>

    </li>
</ul>

<div>
    <button class="btn btn-primary" (click)="addNewVolunteer()" volunteerDetails.submitted="false;">
        <span class="glyphicon glyphicon-plus"></span> Add New Volunteer
    </button>
</div>

<div>
    <button class="btn btn-success" (click)="saveAllVolunteersToServer()">
        <span class="glyphicon glyphicon-save"></span> Save All Volunteers
    </button>
</div>
<style>
    #days {
        display:inline-block;
    }
</style>
<volunteer-details  [volunteer]="currentVolunteer" *ngIf="currentVolunteer" (onSaveNewVolunteer)="saveNewVolunteer($event)" (onSavaChange)="CloseDetails()"></volunteer-details>
<days id="days" [listVolunteer]="volunteerList"></days>
<div (onShowVolunteer)="ShowVolunteers()"></div>