<div class="panel panel-default" *ngIf="volunteer">
    <div class="panel-heading">
        volunteer id: {{volunteer.id}}
    </div>
    <div class="panel-body">
        <input id="Submit1" type="submit" value="submit" />
        <form #VolunteerForm="ngForm" (ngSubmit)="saveNewVolunteer()" >
            <div class="row">
                <div class="col-sm-3 control-label">
                    volunteer name:
                </div>
                <input class="btn btn-success" id="Button1" type="button" value="X" (click)="CloseDet() " style="float:right"/>
                <div class="col-sm-9">
                    
                    <input class="form-control" id="name-id" type="text" [(ngModel)]="volunteer.name" name="name" required #name #nameModel="ngModel" />
                    <div class="alert alert-danger" *ngIf="!nameModel.valid">
                        Volunteer name is required
                    </div>               
                </div>
                <div class="col-sm-9">
                    <div class="col-sm-3 control-label">
                     volunteer street:
                    </div>
                    
                    <input class="form-control" id="name-street" type="text" [(ngModel)]="volunteer.street" name="street"  #name #nameModel="ngModel" />
                   
                </div>
            </div> 
            <!--<ol> 
                <li *ngFor="let item of volunteer.days;"></li>
             </ol>-->
            <!--לשאול למה לא עבד  כאן-->   
            <input type="checkbox" [checked]="item==true"  *ngFor="let item of volunteer.days; let i=index" [(ngModel)]="item.days[i]" [ngModelOptions]="{standalone:true}">
            <br /> 
            <div class="row">
                <div class="pull-right">
                    <button class="btn btn-success" [disabled]="!VolunteerForm.valid" *ngIf="volunteer.id==0">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save New volunteer
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>
<div *ngIf="submitted">
    The Volunteer Saved Successfuly!
</div>
<style>
    input.ng-invalid {
        border-left: 5px solid red;
    }

    input.ng-valid {
        border-left: 5px solid green;
    }
</style>